body {
  background: rgba(55, 210, 236, 0.31);
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 150px 200px;
  grid-row-gap: 3px;
  font-family: helvetica;

}

.wrapper div {
  border-radius: 7px;
  padding-top: 2em;
  padding-bottom: 2em;
}

#one {
  background: rgb(25, 187, 230);
}

#myForm {
  font-family: 'Montserrat', sans-serif;
  color: rgb(230, 52, 86);
}

#display{
  /*background: blue;*/
  font-family: 'Montserrat', sans-serif;
}

#scoreboard {
  font-family: 'Montserrat', sans-serif;
  color: rgb(49, 59, 190);
}

#questions{
  background: rgb(90, 224, 247);
}
